<div class="main-body">
  <h2 class="page-title">アンケート作成</h2>
  <div class="mt-5 text-center">
    <%= form_with model: @question, url: "/groups/#{@group.id}/questions", method: :post, local: true do |f| %>
      <div style="width:50%;" class="mx-auto">
        <table class="table table-borderless">
          <tr>
            <td class="text-right"><%= f.label "候補日1" %></td>
            <td><%= f.date_field :first_candidate %></td>
          </tr>
          <tr>
            <td class="text-right"><%= f.label "候補日2" %></td>
            <td><%= f.date_field :second_candidate %></td>
          </tr>
          <tr>
            <td class="text-right"><%= f.label "候補日3" %></td>
            <td><%= f.date_field :final_candidate %></td>
          </tr>
        </table>
      </div>
      <%= f.submit "作成", class: "btn btn-content mr-3 mt-5" %>
    <% end %>
  </div>
</div>
