<div class="main-body-full">
  <div class="page-title">
    <%= link_to group_path(@group), class: 'page-back btn btn-content' do %>
      <i class="far fa-hand-point-left"></i>
    <% end %>
    <h2 class="mb-0">アンケート作成</h2>
  </div>
  <!---エラー文-->
  <div class="alart">
    <%= render "layouts/error_form", resource: @question %>
  </div>

  <div class="mt-5 text-center">
    <%= form_with model: @question, url: "/groups/#{@group.id}/questions", method: :post, local: true do |f| %>
      <div class="question-table">
        <table class="table table-borderless">
          <tr>
            <td class="text-right"><%= f.label :title %></td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td class="text-right"><%= f.label :first_candidate %></td>
            <td><%= f.date_field :first_candidate %></td>
          </tr>
          <tr>
            <td class="text-right"><%= f.label :second_candidate %></td>
            <td><%= f.date_field :second_candidate %></td>
          </tr>
          <tr>
            <td class="text-right"><%= f.label :final_candidate %></td>
            <td><%= f.date_field :final_candidate %></td>
          </tr>
        </table>
      </div>
      <%= f.submit "作成", class: "btn btn-content mr-3 mt-5" %>
    <% end %>
  </div>
</div>
