<div class="main-body-full">
  <div class="page-title">
    <%= link_to group_path(@group), class: 'page-back btn btn-content' do %>
      <i class="far fa-hand-point-left"></i>
    <% end %>
    <h2 class="mb-0">アンケート結果</h2>
  </div>
  <div class="text-center mt-5 question-table">
    <table class="table table-borderless">
      <tr>
        <td>候補日1</td>
        <td><%= l @question.first_candidate %></td>
        <td><%= @answers1.count %>人</td>
      </tr>
      <% if @question.second_candidate.present? %>
        <tr>
          <td>候補日2</td>
          <td><%= l @question.second_candidate %></td>
          <td><%= @answers2.count %>人</td>
        </tr>
      <% end %>
      <% if @question.final_candidate.present? %>
        <tr>
          <td>候補日3</td>
          <td><%= l @question.final_candidate %></td>
          <td><%= @answers3.count %>人</td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="text-center bg-white mt-5 answer-question-table">
    <table class="table table-borderless border border-dark">
      <thead class="border-bottom border-dark thead-light">
        <tr>
          <th class="question-responsive-font">名前</th>
          <th class="question-responsive-font">候補日1</th>
          <th class="question-responsive-font">候補日2</th>
          <th class="question-responsive-font">候補日3</th>
          <th></th>
        </tr>
      </thead>
      <% @done_answers.each do |answer| %>
        <tbody class="border-bottom border-dark">
          <tr>
            <td class="question-responsive-font"><%= answer.user.nickname %></td>
            <% if answer.first_candidate == true %>
              <td>◯</td>
            <% else %>
              <td>×</td>
            <% end %>
            <% if answer.second_candidate == true %>
              <td>◯</td>
            <% else %>
              <td>×</td>
            <% end %>
            <% if answer.final_candidate == true %>
              <td>◯</td>
            <% else %>
              <td>×</td>
            <% end %>
            <% if answer.user_id == current_user.id %>
              <td class="question-responsive-font"><%= link_to "変更する", edit_group_question_answer_path(@question.group_id, @question, answer) %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>