<div class="main-body">
  <h2>アンケート結果</h2>
  <table class="table">
    <tr>
      <td>候補日1</td>
      <td><%= @question.first_candidate %></td>
      <td><%= @answers1.count %>人</td>
    </tr>
    <% if @question.second_candidate.present? %>
      <tr>
        <td>候補日2</td>
        <td><%= @question.second_candidate %></td>
        <td><%= @answers2.count %>人</td>
      </tr>
    <% end %>
    <% if @question.final_candidate.present? %>
      <tr>
        <td>候補日3</td>
        <td><%= @question.final_candidate %></td>
        <td><%= @answers3.count %>人</td>
      </tr>
    <% end %>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>候補日1</th>
        <th>候補日2</th>
        <th>候補日3</th>
      </tr>
    </thead>
    <tbody>
      <% @done_answers.each do |answer| %>
        <tr>
          <td><%= answer.user.nickname %></td>
          <% if answer.first_candidate == true %>
            <td>◯</td>
          <% else %>
            <td>×</td>
          <% end %>
          <% if answer.second_candidate == true %>
            <td>◯</td>
          <% else %>
            <td>×</td>
          <% end %>
          <% if answer.final_candidate == true %>
            <td>◯</td>
          <% else %>
            <td>×</td>
          <% end %>
          <% if answer.user_id == current_user.id %>
            <td><%= link_to "変更する", edit_group_question_answer_path(@question.group_id, @question, answer) %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>