 <div class="main-body">
  <h1 class="body-title text-center mt-5">新規登録</h1>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="container">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="feild row mt-5">
        <%= f.label :family_name, class: "col-sm-4 text-right offset-sm-1" %>
        <%= f.text_field :family_name, class: "col-sm-2" %>
      </div>

      <div class="feild row mt-4">
        <%= f.label :first_name, class: "col-sm-4 text-right offset-sm-1" %>
        <%= f.text_field :first_name, class: "col-sm-2" %>
      </div>

      <div class="field row mt-4">
        <%= f.label :nickname, class: "col-sm-4 text-right offset-sm-1" %>
        <%= f.text_field :nickname, class: "col-sm-2" %>
      </div>

      <div class="field row mt-4">
        <%= f.label :email, class: "col-sm-4 text-right offset-sm-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-2" %>
      </div>

      <div class="field row mt-4">
        <div class="col-sm-4 text-right offset-sm-1">
          <%= f.label "パスワード" %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-2" %>
      </div>

      <div class="field row mt-4">
        <%= f.label "パスワード(確認)", class: "col-sm-4 text-right offset-sm-1" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-2" %>
      </div>
    </div>

    <div class="actions text-center mt-5 pb-5">
      <%= f.submit "登録", class: 'btn btn-content btn-new' %>
    </div>
  <% end %>
</div>