<div class="border-top border-dark pt-3 task-paginate">
  <table class="table table-borderless task-table">
    <thead>
      <tr>
        <th width="20%" class="task-responsive-font">期限</th>
        <th width="50%" class="task-responsive-font">Task</th>
        <th width="15%"></th>
        <th width="15%"></th>
      </tr>
    </thead>
    <% tasks.each do |task| %>
      <tbody>
        <tr>
          <td class="task-responsive-font"><%= l task.limit_date %></td>
          <td class="task-responsive-font"><%= task.task %></td>
          <% if task.status == false %>
            <td class="task-responsive-font"><%= link_to "完了", user_task_path(task.user, task), method: :patch, class: 'btn btn-content' %></td>
          <% else %>
            <td class="task-responsive-font"><i class="far fa-check-circle"></i></td>
          <% end %>
          <td class="task-responsive-font"><%= link_to "削除", "/users/#{task.user.id}/tasks/#{task.id}", method: :delete, class: 'btn btn-content' %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate tasks %>
</div>