<div class="main-body">
  <h2 class="page-title">グループ編集</h2>
  <div class="mt-5 text-center">
    <%= form_with model: @group, method: :patch, local: true do |f| %>
      <%= f.label "グループ名" %>
      <%= f.text_field :name %>
      <%= f.submit "更新", class: 'btn btn-content' %>
    <% end %>
  </div>
    <div class="mt-5 border-top border-dark text-center">
      <p class="mt-3">追加メンバー</p>
      <div style="width: 50%;" class="mx-auto bg-white">
        <table class="table">
          <% @users.each do |user| %>
            <% if @group.users.find_by(id: user.id).blank? %>
              <tr>
                <td><%= attachment_image_tag user, :image, :fill, 60, 60, fallback: 'no-image.png', id: 'member-image' %></td>
                <td style='width: 60%;' class="align-middle"><%= user.nickname %></td>
                <td class="align-middle"><%= link_to "追加する", group_group_users_path(@group, group_user: { group_id: @group.id , user_id: user.id } ), method: :post, class: 'btn btn-content' %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
</div>
