<div class="main-body-full">
  <div class="page-title">
    <%= link_to group_path(@group), class: 'page-back btn btn-content' do %>
      <i class="far fa-hand-point-left"></i>
    <% end %>
    <h2 class="mb-0">グループ編集</h2>
  </div>
  <!---エラー文-->
  <div class="alart">
    <%= render "layouts/error_form", resource: @group %>
  </div>

  <div class="mt-5 text-center">
    <%= form_with model: @group, method: :patch, local: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "更新", class: 'btn btn-content' %>
    <% end %>
  </div>
    <div class="mt-5 border-top border-dark text-center">
      <div  id="add_user">
        <%= render 'groups/add_user', users: @users, group: @group %>
      </div>
    </div>
</div>
