<div class="main-body">
  <div class="page-title">
    <%= link_to @group.name + "ページに戻る", group_path(@group), class: 'page-back btn btn-content' %>
    <h2 class="mb-0">グループ編集</h2>
  </div>
  <div class="mt-5 text-center">
    <%= form_with model: @group, method: :patch, local: true do |f| %>
      <%= f.label "グループ名" %>
      <%= f.text_field :name %>
      <%= f.submit "更新", class: 'btn btn-content' %>
    <% end %>
  </div>
    <div class="mt-5 border-top border-dark text-center">
      <div  id="add_user">
        <%= render 'groups/add_user', users: @users, group: @group %>
      </div>
    </div>
</div>
