<div class="main-body">
  <h2 class="page-title">グループ編集</h2>
  <div class="mt-5 text-center">
    <%= form_with model: @group, method: :patch, local: true do |f| %>
      <%= f.label "グループ名" %>
      <%= f.text_field :name %>
      <%= f.submit "更新", class: 'btn btn-content' %>
    <% end %>
  </div>
    <div class="mt-5 border-top border-dark text-center">
      <div  id="add_user">
        <%= render 'groups/add_user', users: @users, group: @group %>
      </div>
    </div>
</div>
<script scr="app.js"></script>
