<div class="main-body">
  <h2 class="page-title"><%= @group.name %></h2>
  <div class="text-center mt-5 mb-5">
    <%= link_to "編集する", edit_group_path(@group), class: 'btn btn-content' %>
    <%= link_to "飲み会を開く", new_group_event_path(@group), class: 'btn btn-content' %>
    <%= link_to "アンケート作成", new_group_question_path(@group), class: 'btn btn-content' %>
    <%= link_to "アンケート一覧", group_questions_path(@group), class: 'btn btn-content' %>
  </div>
  <div class="text-center" id="event_index">
    <%= render 'groups/event', group: @group, events: @events %>
  </div>
  <div class="mt-5 mb-5 text-center" id="destroy_group_user">
    <%= render 'groups/destroy_user', group: @group, group_user: @group_user %>
  </div>
</div>