<table class="table table-borderless mb-0">
  <thead>
    <tr>
      <th class="text-center responsive-font">日程</th>
      <th class="text-center responsive-font">グループ名</th>
      <th class="text-center responsive-font">飲み会名</th>
      <th class="text-center responsive-font">開始時間</th>
    </tr>
  </thead>
  <% events.each do |event| %>
    <tboby>
      <tr class="border-top border-secondary">
        <td class="text-center responsive-font"><%= l event.date %></td>
        <td class="text-center responsive-font"><%= event.group.name %></td>
        <td class="text-center responsive-font"><%= link_to event.name, group_event_path(event.group_id, event) %></td>
        <% if event.start_time.present? %>
          <td class="text-center responsive-font"><%= event.start_time.strftime('%H:%M') %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    </tboby>
  <% end %>
</table>
<%= paginate events, remote: true %>