<div class="main-body">
  <h2 class="text-center pt-4 pb-4 border-bottom border-dark page-title">ユーザー情報編集</h2>
  <%= form_with model:current_user, url:"/users/#{current_user.id}", method: :patch, local:true do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mt-5 pt-5 text-center">
          <%= attachment_image_tag current_user, :image, :fill, 60, 60, fallback: 'no-image.png', id: 'edit-profile-image', class: 'd-block mx-auto' %><br>
          <%= f.attachment_field :image, class: 'justify-content-center mt-5 img-field' %>
        </div>
        <div class="col-lg-7 text-center mt-5 mb-5">
          <table class="table table-borderless justify-content-center">
            <tr>
              <td><%= f.label "姓" %></td>
              <td><%= f.text_field :family_name %></td>
            </tr>
            <tr>
              <td><%= f.label "名" %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td><%= f.label "ニックネーム" %></td>
              <td><%= f.text_field :nickname %></td>
            </tr>
            <tr>
              <td><%= f.label :email %></td>
              <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <td><%= f.label "好きな食べ物" %></td>
              <td><%= f.text_field :favorite_food %></td>
            </tr>
            <tr>
              <td><%= f.label "好きな飲み物" %></td>
              <td><%= f.text_field :favorite_drink %></td>
            </tr>
            <tr>
              <td><%= f.label "嫌いな食べ物" %></td>
              <td><%= f.text_field :hated_food %></td>
            </tr>
          </table>
          <%= f.submit "更新", class: 'btn btn-content mr-5 mt-4' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script scr="app.js"></script>
