<div class="main-body">
  <h2>マイページ</h2>
  <% if @answers.present? %>
    <P>未回答のアンケートが<%= @answers.count %>件あります</p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <%= attachment_image_tag current_user, :image, :fill, 60, 60, fallback: 'no-image.png', id: 'profile-image' %>
        <table class="table table-borderless">
          <tr>
            <th>名前</th>
            <td><%= current_user.family_name %><%= current_user.first_name %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td><%= current_user.nickname %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <th>好きな食べ物</th>
            <td><%= current_user.favorite_food %></td>
          </tr>
          <tr>
            <th>好きな飲み物</th>
            <td><%= current_user.favorite_drink %></td>
          </tr>
          <tr>
            <th>嫌いな食べ物</th>
            <td><%= current_user.hated_food %></td>
          </tr>
          <tr>
            <th>ID</th>
            <td><%= current_user.public_uid %></td>
          </tr>
        </table>
        <%= link_to "編集する", edit_user_path, class: 'btn btn-light' %>
      </div>
      <div class="col-lg-7">
        <div>
          <p>今後の飲み会予定</p>
          <table class="table">
            <thead>
              <tr>
                <td>日程</td>
                <td>グループ名</td>
                <td>飲み会名</td>
                <td>開始時間</td>
              </tr>
            </thead>
            <% @events.each do |event| %>
              <tboby>
                <tr>
                  <td><%= event.date %></td>
                  <td><%= event.group.name %></td>
                  <td><%= link_to event.name, group_event_path(event.group_id, event) %></td>
                  <td><%= event.start_time %></td>
                </tr>
              </tboby>
            <% end %>
          </table>
          <%= link_to "グループを作る", new_group_path, class: 'btn btn-light' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <p>参加グループ一覧</p>
      <% @groups.each do |group| %>
      <table>
        <tr>
          <td><%= link_to group.name, group_path(group) %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div>
      <p>フォローリスト</p>
      <table class="table table-borderless">
        <tr>
          <thead>
            <td></td>
            <td>ニックネーム</td>
            <td>好きな食べ物</td>
            <td>好きな飲み物</td>
            <td>嫌いな食べ物</td>
          </thead>
          <% current_user.following_user.each do |user| %>
            <tbody>
              <td><%= attachment_image_tag user, :image, :fill, 60, 60, fallback: 'no-image.png', id: 'member-image' %></td>
              <td><%= user.nickname %></td>
              <td><%= user.favorite_food %></td>
              <td><%= user.favorite_drink %></td>
              <td><%= user.hated_food %></td>
              <td><%= link_to 'フォローを外す', unfollow_path(user.id), method: :post %></td>
            </tbody>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>