<div class="main-body">
  <div class="page-title">
    <h2 class="mb-0">パスワードをお忘れですか？</h2>
  </div>
  <div class="mt-5 text-center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field pt-5">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions pt-5">
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-content' %>
      </div>
    <% end %>
  </div>

</div>
