<div class="main-body">
  <h2>飲み会編集</h2>
  <%= form_with model: @event, url: "/groups/#{@event.group_id}/events/#{@event.id}", method: :patch, local: true do |f| %>
    <div>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label "飲み会名" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label "日にち" %></td>
          <td><%= f.date_select :date %></td>
        </tr>
        <tr>
          <td><%= f.label "時間" %></td>
          <td><%= f.time_select :start_time %></td>
          <td>〜</td>
          <td><%= f.time_select :finish_time %></td>
        </tr>
        <tr>
          <td><%= f.label "会場" %></td>
          <td><%= f.text_field :venue_name %></td>
        </tr>
        <tr>
          <td><%= f.label "会場住所" %></td>
          <td><%= f.text_field :venue_address %></td>
        </tr>
        <tr>
          <td><%= f.label "サイトURL" %></td>
          <td><%= f.text_field :site_url %></td>
        </tr>
        <tr>
          <td><%= f.label "費用" %></td>
          <td><%= f.number_field :cost %></td>
        </tr>
        <tr>
          <td><%= f.label "備考" %></td>
          <td><%= f.text_area :comment %></td>
        </tr>
      </table>
      <%= f.submit "更新" %>
    </div>
  <% end %>
</div>
