<div class="main-body pb-5">
  <div class="page-title">
    <%= link_to group_path(@group), class: 'page-back btn btn-content' do %>
      <i class="far fa-hand-point-left"></i>
    <% end %>
    <h2 class="mb-0"><%= @event.name %></h2>
  </div>
  <div class="container">
    <div class="row mt-5">
      <table class="table table-borderless col-lg-7 show-event-table">
        <tr>
          <td style='width: 25%;'>日にち</td>
          <td><%= l @event.date %></td>
        </tr>
        <tr>
          <td>時間</td>
          <% if @event.start_time.present? & @event.finish_time.present? %>
            <td><%= @event.start_time.strftime('%H:%M') %> 〜 <%= @event.finish_time.strftime('%H:%M') %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
        <tr>
          <td>会場</td>
          <td><%= @event.venue_name %></td>
        </tr>
        <tr>
          <td>会場住所</td>
          <td><%= @event.venue_address %></td>
        </tr>
        <tr>
          <td>サイトURL</td>
          <td><%= @event.site_url %></td>
        </tr>
        <% if user_signed_in? && @event.user_id == current_user.id %>
        <tr>
          <td>費用</td>
          <td><%= @event.cost %></td>
        </tr>
        <% end %>
      </table>
      <div class='col-lg-5 mt-5 text-center'>
        <% if user_signed_in? && @event.user_id == current_user.id %>
          <div>
            <%= link_to "編集", edit_group_event_path(@group,@event), class: 'btn btn-content btn-event' %>
          </div>
        <% end %>
        <div class='mt-5'>
          <%= link_to "メンバー追加", group_add_user_event_path(@group,@event), class: 'btn btn-content btn-event' %>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-2 text-center">〜備考〜</p>
  <div class="bg-white mx-auto border border-dark" style="width: 50%; height: 10rem;">
    <%= @event.comment %>
  </div>
</div>
<div class="mt-5 mb-5 text-center" id="destroy_user">
  <%= render 'events/destroy_user', group: @group, event: @event, event_users: @event_users %>
</div>