<div class="main-body-full">
  <h2 class="page-title">アンケート回答</h2>
  <p class="text-center mt-5">
    下記日程で飲み会を予定しています<br>
    参加可能な日にチェックをし、回答してください
  </p>
  <div class="mt-5 pt-5 mx-auto" style="width: 50%;">
    <%= form_with model: @answer, url: group_question_answer_path(@group, @question,@answer), method: :patch, local: true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :first_candidate %></td>
          <td class="text-left"><%= f.label @question.first_candidate %></td>
          <td><%= f.check_box :first_candidate, {}, "true", "false" %></td>
        </tr>
        <% if @question.second_candidate.present? %>
          <tr>
            <td><%= f.label :second_candidate %></td>
            <td class="text-left"><%= f.label @question.second_candidate %></td>
            <td><%= f.check_box :second_candidate, {}, "true", "false" %></td>
          </tr>
        <% end %>
        <% if @question.final_candidate.present? %>
          <tr>
            <td><%= f.label :final_candidate %></td>
            <td class="text-left"><%= f.label @question.final_candidate %></td>
            <td><%= f.check_box :final_candidate, {}, "true", "false" %></td>
          </tr>
        <% end %>
      </table>
      <div class="mt-5 pt-5 mr-5 mb-5 text-center">
        <%= f.submit "回答", class: "btn btn-content" %>
      </div>
    <% end %>
  </div>
</div>
