<div class="main-body">
  <h2 class="page-title">RAKU NOMIの使い方</h2>
  <div class="about-body">
    <div class="card">
      <P class="card-title">1.登録しよう</P>
      <%= image_tag("about1.jpeg", class: "about-image") %>
    </div>
    <div class="card">
      <P class="card-title">2.プロフィールを完成させよう</P>
      <%= image_tag('about2.jpeg', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">3.友達を検索しよう</P>
      <%= image_tag('about3.png', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">4.グループを作ろう</P>
      <%= image_tag('about4.jpeg', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">5.アンケートを取ろう</P>
      <%= image_tag('about5.png', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">6.飲み会を主催しよう</P>
      <%= image_tag('about6.png', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">7.みんなにメールを送ろう</P>
      <%= image_tag('about7.png', class: 'about-image') %>
    </div>
    <div class="card">
      <P class="card-title">8.通知をチェックしよう</P>
      <%= image_tag('about8.png', class: 'about-image') %>
    </div>
  </div>
</div>