<div class="main-visual">
  <div class="main-visual-content">
    <div class="main-visual-content__title">
      <h1 class="main-visual-content__title-text">WELCOME<br>TO<br>RAKU NOMI!</h1>
      <%= link_to t('.sign_up'), new_user_registration_path, class: 'btn main-visual-content__title-button__new' %>
      <%= link_to t('.sign_in'), new_user_session_path, class: 'btn main-visual-content__title-button__log' %>
    </div>
    <%= image_tag("main_img.jpg", class: "main-visual-content__image") %>
  </div>
</div>

<div class="about">
  <h1 class="about__title animation"><span><%= t('.about_to_RAKU_NOMI') %></span></h1>
  <p class="about__text animation">
    RAKU NOMIとは飲み会を<span class="color-red">ラク(楽)</span>に！<span class="color-red">楽しく</span>！開催することを可能にした、<br>
    飲み会専用のコミュニケーションサイトです！<br>
    会社や大学の飲み会はもちろん個人的な飲み会を開きたい方など様々な方にご利用いただけます！
  </p>

  <div class="about__body">
    <h2 class="about__body__left animation">みんな<span class="color-red">いつ</span>空いているのか分からない、、、</h2>
    <h2 class="about__body__right animation">メンバーに<span class="color-red">連絡</span>するのも面倒、、、</h2>
    <h2 class="about__body__left animation"><span class="color-red">やること</span>も多いし、、、</h2>
    <h2 class="about__body__right animation">でも他に幹事やる人<span class="color-red">いない</span>し、、、</h2>
  </div>

  <div class="about__finish">
    <h1 class="animation">
      などの飲み会を開く際の悩みを<br>
      この<span class="color-orange">RAKUNOMI</span>が解決します！！
    </h1>
  </div>

  <div class="about__button animation">
    <%= link_to "RAKU NOMIの使い方", home_about_path, class: 'btn btn-nav btn-lg' %>
  </div>
</div>