<div class="main-body-full">
  <h1 class="body-title text-center mt-5"><%= t'.sign_in' %></h1>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="container">

      <div class="field row mt-5 pt-sm-5">
        <%= f.label :email, class: "col-sm-4" %>
        <%= f.email_field :email, autofocus: true, class: "col-sm-4 sign_form" %>
      </div>

      <div class="field row mt-5 pt-sm-5">
        <%= f.label :password, class: "col-sm-4" %>
        <%= f.password_field :password, class: "col-sm-4 sign_form" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-center mt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>

    <div class="actions text-center mt-5">
      <%= f.submit t('.sign_in'), class: 'btn btn-content btn-new' %>
    </div>
  <% end %>
  <div class='text-center mt-5'>
    <%= render "devise/shared/links"%>
  </div>
</div>