<!DOCTYPE html>
<html>
  <head>
    <title>RAKUNomi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to image_tag("img_logo.png", class: "logo"), user_path(current_user) %>
          <%= form_with url: users_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :content %>
            <%= f.submit "検索" %>
          <% end %>
          <ul>
            <li><%= link_to 'RAKU NOMIの使い方', home_about_path, class: 'nav' %></li>
            <!--% if unchecked_notifications.any? %-->
              <!--i class="fa fa-circle" style="color: red;"></i-->
            <!--% end %-->
            <li><%= link_to "通知", notifications_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav' %>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to image_tag("img_logo.png", class: "logo"), root_path %>
          <!--%= image_tag("bottle.png", class: "bottle") %-->
          <ul>
            <li><%= link_to 'RAKU NOMIの使い方', home_about_path %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>sample</p>
    </footer>
  </body>

</html>
