<!DOCTYPE html>
<html>
  <head>
    <title>RAKUNomi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'RAKU NOMI', root_path %>
          <ul>
            <li><%= link_to 'RAKU NOMIの使い方', home_about_path %></li>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'RAKU NOMI', root_path %>
          <ul>
            <li><%= link_to 'RAKU NOMIの使い方', home_about_path %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
